#################################################################
APP_NAME: 'Gmail-Auto-Label'

# normally set this to either '0.0.0.0' or 'localhost'
HOST: '0.0.0.0'
# make sure this doesn't clash with something already on the server
PORT: 5002

# these must be different paths
AUTHCALL: '/oauth2callback'
RUNCALL: '/run/labeler'
#################################################################